@import url('https://fonts.googleapis.com/css2?family=Exile&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;
}

@layer base {
    body {
        @apply font-display;
    }
}

.glow-text {
  text-shadow:
    0 0 2px white,
    0 0 2px #9333ea,
    0 0 5px #9333ea;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(0); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  opacity: 0; /* Start hidden */
}